.features{

    width:100%;
    min-height:100vh;

    padding:100px 10%;

    background:#f7f9fc;

}

.section-title{

    text-align:center;

    margin-bottom:70px;

}

.section-title span{

    color:#2563eb;

    font-weight:700;

    letter-spacing:2px;

}

.section-title h2{

    margin-top:15px;

    font-size:45px;

    color:#0f172a;

}

.section-title p{

    width:700px;

    max-width:100%;

    margin:20px auto;

    color:#555;

    line-height:30px;

}

.feature-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:35px;

}

.feature-card{

    background:white;

    padding:40px;

    border-radius:20px;

    transition:.4s;

    box-shadow:0 15px 40px rgba(0,0,0,.07);

}

.feature-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(37,99,235,.18);

}

.feature-icon{

    width:70px;

    height:70px;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:18px;

    font-size:28px;

    margin-bottom:25px;

}

.feature-card h3{

    font-size:25px;

    margin-bottom:15px;

    color:#0f172a;

}

.feature-card p{

    color:#666;

    line-height:28px;

}